// Names
    $white: #fff;
    $black: #000;

    $aquamarine: #7fffd4;
    $alabaster: #f9f9f9;
    $alto: #d9d9d9;
    $mine-shaft: #333;

    // Roles
    $primary: $white;
    $secondary: $alabaster;
    $accent: $aquamarine;

    $text: $mine-shaft;
    $border: $alto;
